.nav-top {
  background-color: transparent;
  position: absolute;
}

.map-container {
  margin-right: 10px;
  justify-self: center;
  align-self: center;
}

.contact-wrapper {
  background-image: url(/css/img/bg3.jpeg);
  padding-top: 14vh;
}

.contact-heading {
  font-family: "brixtonbook";
  opacity: 1;
  font-size: 5rem;
  margin: auto;
  padding: 0 auto;
  letter-spacing: 2px;
}

.contact-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

/* form */

.contact-form {
  width: 100%;
  height: 85vh;
  margin-top: 2vh;
  margin-right: 5vw;
  margin-left: 5vw;
  padding: 0 10px;
  overflow: hidden;
  justify-self: stretch;
}

.form-wrapper {
}

.contact-form-text {
  display: block;
  width: 96%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: var(--light);
  padding: 20px 40px;
  opacity: 0.9;
  font-size: 1.5rem;
  outline: none;
  color: var(--purple);
  transition: 0.5s;
}

.contact-form-text:focus {
  box-shadow: 0 0 2px 2px var(--light);
}

textarea.contact-form-text {
  resize: none;
  height: 150px;
}

.contact-form-btn {
  color: var(--light);
  font-size: 1rem;
  font-family: "brixtonbold";
  text-decoration: none;
  padding: 12px 48px;
  background-color: var(--green);
  border-radius: 20px;
  cursor: pointer;
  float: left;
  transition: all linear 0.1s;
  border: none;
}

.contact-form-btn:hover {
  background-color: #227307;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  font-family: monospace;
  font-size: 20px;
}

textarea {
  font-family: monospace;
  font-size: 20px;
}

/* end of form */

/* social media contacts */

.socials-wrapper {
  width: 50vw;
  padding-top: 2.5rem;
  padding-left: 5rem;
}

.contact_icons {
  width: 100%;
  height: 50vh;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
  padding: 1rem 0;
  justify-items: start;
  align-items: center;
  gap: 25px;
  list-style: none;
  font-size: 2rem;
}

.contact-link {
  color: var(--purple);
  text-decoration: none;
}

.single-social {
  text-align: start;
  text-decoration: none;
}

.contact-link:hover {
  color: var(--green);
}
.contact_social_icon {
  text-decoration: none;
  border: 0.1rem solid var(--purple);
  color: var(--purple);
  border-radius: 50%;
  padding: 0.25rem;
  transition: all 300ms linear;
}

@media screen and (max-width: 568px) {
  .nav-top {
    display: none;
  }
  .contact-wrapper {
    padding-top: 10vh;
  }
  .contact-heading {
    font-size: 4rem;
  }
  .contact-container {
    grid-template-columns: 100vw;
    grid-template-rows: 65vh 25vh;
  }

  .socials-wrapper {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light);
    opacity: 0.8;
    padding-left: 2rem;
    padding-top: 10px;
  }

  .contact_icons {
    width: 100%;
    height: 15vh;
    margin: auto;
    justify-items: start;
    align-items: center;
    font-size: 1.5rem;
  }

  .contact-form-btn {
    float: none;
  }
}

@media screen and (max-height: 736px) {
  .contact-form {
    height: 75vh;
  }

  .contact-icons {
    font-size: 1.2rem;
    height: 10vh;
  }
}

@media screen and (max-height: 568px) {
  .contact-form {
    height: 65vh;
  }

  .contact-icons {
    font-size: 1.2rem;
    height: 10vh;
  }

  .contact-container {
    grid-template-columns: 100vw;
    grid-template-rows: 90vh 25vh;
  }

  .contact-form-btn {
    float: none;
  }
}
